[10:45 AM] Harshit Bhargava
h2

{

    margin-left:50px;

    background-color:DCDCDC;

    width:270px;

}

div

{

    border:5px solid black;

    width:350px;

}

p.a

{

    width:300px;

    padding:20px;

    background-color:DCDCDC;

}

.b

{

    width:300px;

    padding:20px;

    background-color:yellow;

}

p.c

{

    width:300px;

    padding:20px;

    background-color:FFB6C1;

}

.d

{

    width:300px;

    padding:20px;

    background-color:7FFFD4;

}

